language: php
php:
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
      dist: trusty
    - php: 5.5
      dist: trusty

env:
  - MATH_BIGINTEGER_MODE=INTERNAL
  - MATH_BIGINTEGER_MODE=GMP
  - MATH_BIGINTEGER_MODE=BCMATH

before_script:
  - composer install

script:
  - vendor/bin/phpunit --configuration phpunit.xml.dist --coverage-text
