name: Test

on: [push]

jobs:
  run:
    strategy:
      max-parallel: 3
      matrix:
        os: [ubuntu-latest]
        php: [5.6, 7.0, 7.1, 7.2, 7.3, 7.4]
        math_biginteger_mode: [INTERNAL, GMP, BCMATH]

    name: PHP ${{ matrix.php }} test with bigint mode ${{ matrix.math_biginteger_mode }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1

      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php }}
          extension-csv: xdebug, dom, gmp, bcmath

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run test suite
        run: composer run-script test
        env:
          MATH_BIGINTEGER_MODE: ${{ matrix.math_biginteger_mode }}
